{{template "top.html" .}}

<div class="container" ng-controller="MyBeerController">

	<a href="/cellar?id={{ .Cellar.ID }}">back</a>

	<div id="alert" class="alert" role="alert" {{ if eq .Error "" }} style="display:none;" {{ end }}>{{ .Error }}</div>

	<div class="row" ng-show="!beerEditingEnabled">
		<div class="col-lg-3">
			<h1>{{"{{"}}thisBeer.Name{{"}}"}}</h1>
			<a ng-click="toggleBeerEditing()">(edit)</a>
			<a ng-click="openQR()">(generate qr-code)</a>
			<p>Average Rating: {{"{{"}}thisBeer.AverageRating{{"}}"}}</p>
			<p>Quantity: {{"{{"}}thisBeer.Quantity{{"}}"}}</p>
			<p>Brewed: {{"{{"}}thisBeer.Brewed{{"}}"}}</p>
			<p>Added: {{"{{"}}thisBeer.Added{{"}}"}}</p>
			<p>Age: {{"{{"}}thisBeer.Age{{"}}"}}</p>
		</div>
		<div class="col-lg-3">
			<p ng-show="thisBeer.Notes != ''">"{{"{{"}}thisBeer.Notes{{"}}"}}"</p>
		</div>
	</div>
	
	<div class="row" ng-show="beerEditingEnabled">
		<div class="col-lg-6">
			<input class="form-control" type="text" ng-model="thisBeer.Name" />
			<input class="form-control" type="text" readonly ng-model="thisBeer.Quantity" />
			<div id="quantity-slider"></div>
			<input class="form-control datepicker" type="text" readonly ng-model="thisBeer.Brewed">
			<input class="form-control datepicker" type="text" readonly ng-model="thisBeer.Added">
			<textarea class="form-control" ng-model="thisBeer.Notes"></textarea>
			<button class="btn btn-default" ng-click="updateBeer()">update</button>
			<a ng-click="toggleBeerEditing(true)">cancel</a>
		</div>
	</div>

	<h2>Add new tasting note</h2>

	<div class="row">
		<div class="col-lg-6">
			<div class="form-horizontal">

				<div class="form-group">
					<label class="col-lg-2 control-label">rating:</label>
					<div class="col-lg-10">
						<input class="form-control" type="text" readonly ng-model="NewTastingRating"/>
						<div id="rating-slider"></div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">tasted on:</label>
					<div class="col-lg-10">
						<input class="form-control datepicker" type="text" readonly ng-model="NewTastingDate">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">notes:</label>
					<div class="col-lg-10">
						<textarea class="form-control" id="notes" name="notes" ng-model="NewTastingNotes"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label"></label>
				  <div class="col-lg-10" style="text-align:center;">
				    <button class="btn btn-primary" type="button" ng-click="setDecrementBeer($event)">
				    	automatically decrement beer quantity by 1 (<span id="decrement-status">active</span>)
				    </button>	
					</div>
				</div>
				
				<div class="form-group" style="text-align:center;">
					<label class="col-lg-2 control-label"></label>
				  <div class="col-lg-10" style="text-align:center;">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button" ng-click="addTasting()">add!</button>
			      </span>
			    </div>
		    </div>
	  </div>
	</div>
	</div>


	<div ng-show="tastings.length > 0">
		<div class="row">
			<div class="col-lg-6">
				<h2>Existing tasting notes</h2>
				<a id="edit-toggle" ng-click="toggleEdit()">(edit)</a>
				<div class="btn-group pull-right" data-toggle="buttons" style="padding-bottom:10px;">
				  <label
				  	ng-repeat="sort in sorts"
				  	ng-attr-class="{{"{{"}}sort.Active && 'btn btn-default active' || 'btn btn-default' {{"}}"}}"
				  	ng-click="resort(sort)"
				  	>
				    <input type="radio" name="sortRadios"/>{{"{{"}}sort.Label{{"}}"}}
				    <span ng-attr-class="{{"{{"}}sort.Decreasing && 'glyphicon glyphicon-circle-arrow-down' || 'glyphicon glyphicon-circle-arrow-up' {{"}}"}}"></span>
				  </label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">

				<a class="list-group-item tasting-row" ng-click="gotoTasting(tasting)" ng-repeat="tasting in tastings">
					<div class="row">
						<div class="col-lg-3">
				    	<p class="list-group-item-text">{{"{{"}}tasting.TastedDate{{"}}"}}</p>
				    	<p class="list-group-item-text">({{"{{"}}tasting.AgeTastedDate{{"}}"}})</p>
				    </div>
						<div class="col-lg-3">
				    	<p class="list-group-item-text">{{"{{"}}tasting.Rating{{"}}"}}</p>
				    </div>
						<div class="col-lg-6">
							<span class="remove-icon badge pull-right" style="display:none;" ng-click="deleteTasting(tasting)"><span class="glyphicon glyphicon-trash"></span></span>
				    	<p class="list-group-item-text tasting-notes-text">{{"{{"}}tasting.Notes{{"}}"}}</p>
				    </div>
					</div>
				</a>

			</div>
		</div>
	</div>

	<a href="#delete-warning" id="delete-warning-link"></a>
	<div id="delete-warning" style="display:none;" class="text-center">
		<p>Are you sure you want to delete this tasting note?</p>
		<p ng-bind="selectedTasting.TastedDate"></p>
		<div class="well well-sm" ng-bind="selectedTasting.Notes"></div>
		<p>
			<button class="btn btn-default" ng-click="confirmDeleteTasting()">yes</button>
			<button class="btn btn-default" ng-click="cancelFancybox()">no</button>
		</p>
	</div>

	<a href="#qr-display" id="qr-display-link"></a>
	<div id="qr-display" style="display:none;">
		<canvas id="QRCanvas" width="300" height="300"></canvas>
	</div>

</div>

<script>

app.controller("MyBeerController", function($scope, $filter){
	$scope.cellarID = {{ .Cellar.ID }};
	$scope.selectedTasting = null;
	$scope.decrementBeer = true;
	$scope.NewTastingRating = 0;
	$scope.beerEditingEnabled = false;

	{{ with .Beer }}
	$scope.thisBeer = {
		UBID : {{ .UBID }},
		ID : {{ .ID }},
		Name : "{{ .Name }}",
		AverageRating : {{ .GetAverageRating }},
		Quantity : {{ .Quantity }},
		Brewed : "{{ .Brewed.ToString }}",
		Added : "{{ .Added.ToString }}",
		Age : "{{ .GetAgeString }}",
		Notes : "{{ .Notes}}",
	};
	{{ end }}
	
	$scope.tastings = [
		{{ with $beer := .Beer }}
		{{ range .TastingsByID }}
		{
			ID : {{ .ID }},
			Rating : {{ .Rating }},
			Notes : "{{ .Notes }}",
			TastedDate : "{{ .Date.ToString }}",
			AgeTastedDate : "{{ $beer.GetTastingAge . }}",
		},
		{{ end }}
		{{ end }}
	];

	$scope.sorts = [
		{
			Label: "rating",
			Decreasing: true,
			Active: false,
			Sort: "Rating",
		},
		{
			Label: "date",
			Decreasing: true,
			Reverse: true,
			Active: false,
			Sort: function(tasting) {
				return new moment(tasting.TastedDate, "MMM D, YYYY");
			}
		},
	];

	$scope.activeSort = $scope.sorts[0];
	$scope.tastings = $filter('orderBy')($scope.tastings, $scope.activeSort.Sort, $scope.activeSort.Decreasing);

	$scope.init = function() {
		$("#rating-slider").slider({
			min: 0,
			max: 10,
			slide: function( event, ui ) {
				$scope.NewTastingRating = ui.value;
				$scope.$apply();
			}
		});

		$("#quantity-slider").slider({
			min: 1,
			max: 100,
			slide: function( event, ui ) {
				$scope.thisBeer.Quantity = ui.value;
				$scope.$apply();
			}
		});

	  $(".datepicker").datepicker({
	  	"dateFormat": "M dd, yy"
	  });

	  $("#delete-warning-link").fancybox();
	};

	$scope.init();

	$scope.resort = function(sort) {
		if($scope.activeSort === sort) {
			$scope.activeSort.Decreasing = !$scope.activeSort.Decreasing;
		}
		else {
			$scope.activeSort.Active = false;
			$scope.activeSort = sort;
			$scope.activeSort.Active = true;
		}

		if($scope.activeSort.Reverse) {
			$scope.tastings = $filter('orderBy')($scope.tastings, $scope.activeSort.Sort, !$scope.activeSort.Decreasing);
		}
		else {
			$scope.tastings = $filter('orderBy')($scope.tastings, $scope.activeSort.Sort, $scope.activeSort.Decreasing);	
		}
	};

	$scope.gotoTasting = function(tasting) {
		window.location = "/tasting?cellar=" + $scope.cellarID + "&beer=" + $scope.thisBeer.ID + "&id=" + tasting.ID;
	};

	$scope.toggleBeerEditing = function(reset) {
		if(reset === true) {
			$scope.thisBeer = $scope.savedBeer;
		}
		$("#quantity-slider").slider('value', $scope.thisBeer.Quantity);
		$scope.savedBeer = jQuery.extend(true, {}, $scope.thisBeer);
		$scope.beerEditingEnabled = !$scope.beerEditingEnabled;
	}

	$scope.updateBeer = function() {
		$scope.toggleBeerEditing();
	}

	$scope.setDecrementBeer = function(event) {
		var element = event.target;
		if($(element).is("span")) {
			element = $(element).parent();
		}

		$scope.decrementBeer = !$scope.decrementBeer;
		if($scope.decrementBeer) {
			$('#decrement-status').html('active');
			$(element).removeClass('btn-default').addClass('btn-primary');
		} else {
			$('#decrement-status').html('inactive');
			$(element).removeClass('btn-primary').addClass('btn-default');
		}
	};

	$scope.toggleEdit = function() {
		if($('#edit-toggle').html() === "(edit)") {
			$('#edit-toggle').html("(disable edit)")
			$('.remove-icon').show();
		}
		else {
			$('#edit-toggle').html("(edit)")
			$('.remove-icon').hide();
		}
	};

	$scope.cancelFancybox = function() {
		$.fancybox.close();
	};

	$scope.deleteTasting = function(tasting) {
		$("#delete-warning-link").click();
		$scope.selectedTasting = tasting;
	};

	$scope.confirmDeleteTasting = function() {
		$scope.cancelFancybox();
		$.post(
			"api/delete-tasting",
			{ 
				cellarID : $scope.cellarID,
				beerID : $scope.thisBeer.ID,
				tastingID : $scope.selectedTasting.ID,
			},
			function(data) {
				var obj = $.parseJSON(data);
				if(obj.Status == "SUCCESS") {
					var index = $scope.tastings.indexOf($scope.selectedTasting);
					$scope.tastings.splice(index, 1);
					$('#beer-average-rating').html(obj.Data.AverageRating);
					$scope.$apply();
					showError("Tasting successfully deleted", SUCCESS);
				}
				else {
					showError("Failed to delete tasting : (" + obj.Error + ")");
				}
			}
		);
	};

	$scope.clearForm = function() {
		$scope.NewTastingRating = 0;
		$scope.NewTastingNotes = "";
		$scope.NewTastingDate = "";
		$("#rating-slider").slider('value', 0);
		//$scope.decrementBeer = true;
	}

	$scope.addTasting = function() {
		$.post(
			"api/new-tasting",
			{ 
				cellarID : $scope.cellarID,
				beerID : $scope.thisBeer.ID,
				rating : $scope.NewTastingRating,
				notes : $scope.NewTastingNotes,
				tasted: $scope.NewTastingDate,
				decrement: $scope.decrementBeer ? "yes" : "no",
			},
			function(data) {
				var obj = $.parseJSON(data);
				if(obj.Status == "SUCCESS") {
					$scope.tastings.push(obj.Data);
					$scope.clearForm();
					$scope.thisBeer.AverageRating = obj.Data.AverageRating;
					$scope.thisBeer.Quantity = obj.Data.Quantity;
					$scope.$apply();
					showError("Tasting successfully added", SUCCESS);
				}
				else {
					showError("Failed to add tasting : (" + obj.Error + ")");
				}
			}
		);
	}

	$scope.updateBeer = function() {
		$.post(
			"api/update-beer",
			{
				cellarID : $scope.cellarID,
				beerID : $scope.thisBeer.ID,
				name : $scope.thisBeer.Name,
				quantity : $scope.thisBeer.Quantity,
				notes : $scope.thisBeer.Notes,
				brewed : $scope.thisBeer.Brewed,
				added : $scope.thisBeer.Added,
			},
			function(data) {
				var obj = $.parseJSON(data);
				if(obj.Status == "SUCCESS") {
					$scope.toggleBeerEditing();
					$scope.thisBeer.Brewed = obj.Data.Brewed;
					$scope.thisBeer.Added = obj.Data.Added;
					$scope.thisBeer.Age = obj.Data.Age;
					$scope.$apply();
					showError("Successfully updated beer", SUCCESS);
				}
				else {
					showError("Failed to update beer (" + obj.Error + ")");
				}
			}
		);
	}

	$scope.openQR = function() {
		$.post(
			"/api/get-qr-code",
			{ url : "http://mybrewcellar.appspot.com/universal-beer?id="+$scope.thisBeer.UBID},
			function(data) {
				var obj = $.parseJSON(data);
				var canvas = document.getElementById("QRCanvas");
				var ctx = canvas.getContext("2d");
				var image = new Image();
				image.src = "data:image/  png;base64,"+obj.Data.PNGData;
				image.onload = function() {
	    		ctx.drawImage(image, 0, 0, 300, 300);
	    		$("#qr-display-link").click();

				};
		});
	}
	$("#qr-display-link").fancybox();

});

</script>

{{template "bottom.html" .}}