<script>
	var SUCCESS = 0;
	var INFO = 1;
	var WARN = 2;
	var ERROR = 3;
	var errorTimeout = null;


	function showError(msg, level) {
		if(errorTimeout != null) {
			clearTimeout(errorTimeout);
		}
		errorTimeout = setTimeout(function() {
			$('#alert').fadeOut("slow");
		}, 5000);

		var errClass = "alert-danger";
		if(level !== undefined) {
			if(level <= SUCCESS) {
				errClass = "alert-success";
			} else if(level <= INFO) {
				errClass = "alert-info";
			} else if(level <= WARN) {
				errClass = "alert-warning";
			}
		}
		$('#alert').removeClass("alert-success").removeClass("alert-info").removeClass("alert-warning").removeClass("alert-danger");
		$('#alert').addClass(errClass).html(msg).show();
	}

	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
		return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

</script>

	</body>
</html>