{{template "top.html" .}}

<div class="container" ng-controller="CellarController">
	<a href="/mycellars">back</a>
	<h1>{{ .Cellar.Name }}</h1>

	<h2>Add a new beer</h2>

	<div id="alert" class="alert" role="alert" {{ if eq .Error "" }} style="display:none;" {{ end }}>{{ .Error }}</div>


	<div class="row">
		<div class="col-lg-6">
			<div class="form-horizontal">

				<div class="form-group">
					<label class="col-sm-2 control-label">name:</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" ng-model="NewBeerName" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">quantity:</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" readonly id="quantity" ng-model="NewBeerQuantity" />
						<div id="quantity-slider"></div>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">notes:</label>
					<div class="col-sm-10">
						<textarea class="form-control" ng-model="NewBeerNotes"></textarea>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">brewed on:</label>
					<div class="col-sm-10">
						<input class="form-control datepicker" type="text" readonly ng-model="NewBeerBrewed" />
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">added on:</label>
					<div class="col-sm-10">
						<input class="form-control datepicker" type="text" readonly ng-model="NewBeerAdded" />
					</div>
				</div>

				<div class="form-group" style="text-align:center;">
						<button class="btn btn-default" ng-click="addNewBeer()">Add</button>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<h2>Existing beers</h2>
			<a id="edit-toggle" ng-click="toggleEdit()">(edit)</a>
			<div class="btn-group pull-right" data-toggle="buttons" style="padding-bottom:10px;">
			  <label
			  	ng-repeat="sort in sorts"
			  	ng-attr-class="{{"{{"}}sort.Active && 'btn btn-default active' || 'btn btn-default' {{"}}"}}"
			  	ng-click="resort(sort)"
			  	>
			    <input type="radio" name="sortRadios"/>{{"{{"}}sort.Label{{"}}"}}
			    <span ng-attr-class="{{"{{"}}sort.Decreasing && 'glyphicon glyphicon-circle-arrow-down' || 'glyphicon glyphicon-circle-arrow-up' {{"}}"}}"></span>
			  </label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div id="beer-rows" class="list-group">
			  
			  <a class="list-group-item beer-row" ng-click="gotoBeer(beer)" ng-repeat="beer in beers">
			    
			    <h3 class="beer-name list-group-item-heading">{{"{{"}}beer.Name{{"}}"}}</h3>
			    
			    <div class="row">
			    	<div class="col-lg-6">
			    		<p class="list-group-item-text">Average Rating: {{"{{"}}beer.AverageRating{{"}}"}}</p>
					    <p class="list-group-item-text">Quantity: {{"{{"}}beer.Quantity{{"}}"}}</p>
			  		</div>
			    	<div class="col-lg-6">
			    		<span class="editable badge pull-right" style="display:none;" ng-click="deleteBeer(beer); $event.stopPropagation();">
			    			<span class="glyphicon glyphicon-trash"></span>
			    		</span>
			    		<span class="editable badge pull-right" style="display:none; margin-right:5px;" ng-click="transferBeer(beer); $event.stopPropagation();">
			    			<span class="glyphicon glyphicon-transfer"></span>
			    		</span>
			    		<p class="list-group-item-text">Brewed: {{"{{"}}beer.Brewed{{"}}"}}</p>
					    <p class="list-group-item-text">Added: {{"{{"}}beer.Added{{"}}"}}</p>
					    <p class="list-group-item-text">Age: {{"{{"}}beer.Age{{"}}"}}</p>
			  		</div>
			    </div>
			  </a>
			</div>
		</div>
	</div>

	<a href="#delete-warning" id="delete-warning-link"></a>
	<div id="delete-warning" style="display:none;" class="text-center">
		<p>Are you sure you want to delete &quot;{{"{{"}}selectedBeer.Name{{"}}"}}&quot;?</p>
		<p>
			<button class="btn btn-default" ng-click="confirmDeleteBeer()">yes</button>
			<button class="btn btn-default" ng-click="cancelFancybox()">no</button>
		</p>
	</div>

	<a href="#transfer-warning" id="transfer-warning-link"></a>
	<div id="transfer-warning" style="display:none;" class="text-center">
		<p>Where would you like to transfer &quot;{{"{{"}}selectedBeer.Name{{"}}"}}&quot;?</p>
		<p>
		<div class="btn-group" data-toggle="buttons" style="padding-bottom:10px;">
			
		  <label ng-attr-class="{{"{{"}}cellar.ID === cellarID && 'btn btn-default default-active' || 'btn btn-default' {{"}}"}}" ng-click="setTransferToCellar(cellar)" ng-repeat="cellar in cellars">
		    <input type="radio" name="cellarRadios"/> {{"{{"}}cellar.Name{{"}}"}}
		  </label>

		</div>
		</p>
		<p>
			<button class="btn btn-default" ng-click="confirmTransferBeer()">yes</button>
			<button class="btn btn-default" ng-click="cancelFancybox()">no</button>
		</p>
	</div>

</div>
<script>

app.controller("CellarController", function($scope, $filter){
	$scope.cellarID = {{ .Cellar.ID }};
	$scope.selectedBeer = null;
	$scope.transferToCellar = null;
	$scope.NewBeerQuantity = 1;

	$scope.cellars = [
		{{ range .Account.Cellars }}
			{
				ID : {{ .ID }},
				Name : "{{ .Name }}",
			},
		{{ end }}
	];

	$scope.beers = [
		{{ range .Cellar.Beers }}
			{
				ID : {{ .ID }},
				Name : "{{ .Name }}",
				AverageRating : {{ .GetAverageRating }},
				Quantity : {{ .Quantity }},
				Brewed : "{{ .Brewed.ToString }}",
				Added : "{{ .Added.ToString }}",
				Age : "{{ .GetAgeString }}",
			},
		{{ end }}
	];

	$scope.sorts = [
		{
			Label: "name",
			Decreasing: true,
			Active: true,
			Sort: "Name",
		},
		{
			Label: "avg rating",
			Decreasing: true,
			Active: false,
			Sort: "AverageRating",
		},
		{
			Label: "quantity",
			Decreasing: true,
			Active: false,
			Sort: "Quantity",
		},
		{
			Label: "age",
			Decreasing: true,
			Reverse: true,
			Active: false,
			Sort: function(beer) {
				//This is bad, but it's not a big deal if it breaks
				var brewed = new moment(new Date(beer.Brewed));
				var added = new moment(new Date(beer.Added));
				return brewed < added ? brewed : added;
			}
		},
	];

	$scope.activeSort = $scope.sorts[0];
	$scope.beers = $filter('orderBy')($scope.beers, $scope.activeSort.Sort, $scope.activeSort.Decreasing);

	$scope.init = function() {
		$("#delete-warning-link").fancybox();

		$("#transfer-warning-link").fancybox({
			maxWidth : 500,
			afterShow : function() { $('.default-active').click(); },
		});

		$('.btn').button();

	  $(".datepicker").datepicker({ "dateFormat": "yy-mm-dd" });

		$("#quantity-slider").slider({
			min: 1,
			max: 100,
			slide: function( event, ui ) {
				$scope.NewBeerQuantity = ui.value;
				$scope.$apply();
			}
		});
	};
	$scope.init();

	$scope.resort = function(sort) {
		if($scope.activeSort === sort) {
			$scope.activeSort.Decreasing = !$scope.activeSort.Decreasing;
		}
		else {
			$scope.activeSort.Active = false;
			$scope.activeSort = sort;
			$scope.activeSort.Active = true;
		}
		if($scope.activeSort.Reverse) {
			$scope.beers = $filter('orderBy')($scope.beers, $scope.activeSort.Sort, !$scope.activeSort.Decreasing);	
		}
		else {
			$scope.beers = $filter('orderBy')($scope.beers, $scope.activeSort.Sort, $scope.activeSort.Decreasing);
		}
	};

	$scope.setTransferToCellar = function(cellar) {
		$scope.transferToCellar = cellar;
	};

	$scope.gotoBeer = function(beer) {
		window.location = "/beer?cellar=" + $scope.cellarID + "&id=" + beer.ID;
	};

	$scope.toggleEdit = function() {
		if($('#edit-toggle').html() === "(edit)") {
			$('#edit-toggle').html("(disable edit)")
			$('.editable').show();
		}
		else {
			$('#edit-toggle').html("(edit)")
			$('.editable').hide();
		}
	};

	$scope.cancelFancybox = function() {
		$.fancybox.close();
	};

	$scope.deleteBeer = function(beer) {
		$scope.selectedBeer = beer;
		$("#delete-warning-link").click();
	};

	$scope.confirmDeleteBeer = function() {
		$scope.cancelFancybox();
		$.post(
			"api/delete-beer",
			{ 
				cellarID : $scope.cellarID,
				beerID : $scope.selectedBeer.ID
			},
			function(data) {
				var obj = $.parseJSON(data);
				if(obj.Status == "SUCCESS") {
					var index = $scope.beers.indexOf($scope.selectedBeer);
					$scope.beers.splice(index, 1);
					$scope.$apply();
					showError("Beer successfully deleted : \"" + obj.Data.Name + "\"", SUCCESS);
				}
				else {
					showError("Failed to delete beer : (" + obj.Error + ")");
				}
			}
		);
	};

	$scope.transferBeer = function(beer) {
		$scope.selectedBeer = beer;
		$("#transfer-warning-link").click();
	};

	$scope.confirmTransferBeer = function() {
		$scope.cancelFancybox();

		if($scope.cellarID === $scope.transferToCellar.ID) {
			showError("Ignoring transfer request, destination is the same as current location", WARN);
			return;
		}

		$.post(
			"api/transfer-beer",
			{ 
				fromCellarID : $scope.cellarID,
				toCellarID : $scope.transferToCellar.ID,
				beerID : $scope.selectedBeer.ID,
			},
			function(data) {
				var obj = $.parseJSON(data);
				if(obj.Status == "SUCCESS") {
					var index = $scope.beers.indexOf($scope.selectedBeer);
					$scope.beers.splice(index, 1);
					$scope.$apply();					
					showError("&quot;"
						+ obj.Data.Beer.Name
						+ "&quot; successfully transferred from &quot;"
						+ obj.Data.FromCellar.Name
						+ "&quot;"
						+ " to &quot;"
						+ obj.Data.ToCellar.Name
						+ "&quot;", SUCCESS);
				}
				else {
					showError("Failed to transfer beer : (" + obj.Error + ")");
				}
			}
		);
	};

	$scope.clearForm = function() {
		$scope.NewBeerName = "";
		$scope.NewBeerQuantity = 1;
		$scope.NewBeerNotes = "";
		$scope.NewBeerBrewed = "";
		$scope.NewBeerAdded = "";
		$("#quantity-slider").slider('value', 1);
	}

	$scope.addNewBeer = function() {
		$.post(
			"api/new-beer",
			{
				cellarID : $scope.cellarID,
				name : $scope.NewBeerName,
				quantity : $scope.NewBeerQuantity,
				notes : $scope.NewBeerNotes,
				brewed : $scope.NewBeerBrewed, 
				added : $scope.NewBeerAdded,
			},
			function(data) {
				var obj = $.parseJSON(data);
				if(obj.Status == "SUCCESS") {
					$scope.beers.push(obj.Data);
					$scope.clearForm();
					$scope.$apply();
					showError("Successfully added new beer : &quot;" + obj.Data.Name + "&quot;", SUCCESS);
				}
				else {
					showError("Failed to add beer (" + obj.Error + ")");
				}
			}
		);
	};

});
</script>

{{template "bottom.html" .}}