{{template "top.html" .}}

<div class="container" ng-controller="MyCellarsController">

	<div ng-show="{{.Editable}}">
		<h1>Welcome {{ .Account.GetUsername }} to your cellars!</h1>
		<h2>Add a new cellar</h2>
	</div>

	<div ng-show="!{{.Editable}}">
		<h1>{{ .Account.GetUsername }}'s cellars!</h1>
	</div>


	<div id="alert" class="alert" role="alert" {{ if eq .Error "" }} style="display:none;" {{ end }}>{{ .Error }}</div>

	<div class="form-horizontal" ng-show="{{.Editable}}">
		<div class="row">
			<div class="col-lg-12">
		    <div class="input-group">
		      <input type="text" class="form-control" ng-model="newCellarName"/>
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="addCellar()">add!</button>
		      </span>
		    </div>
		  </div>
		</div>
	</div>

	<div ng-show="cellars.length > 0">
		<div class="row">
			<div class="col-lg-12">
				<h2>Existing cellars</h2>
				<a id="edit-toggle" ng-click="toggleEdit()" ng-show="{{.Editable}}">(edit)</a>

				<div class="btn-group pull-right" data-toggle="buttons" style="padding-bottom:10px;">
				  
				  <label
				  	ng-repeat="sort in sorts"
				  	ng-attr-class="{{"{{"}}sort.Active && 'btn btn-default active' || 'btn btn-default' {{"}}"}}"
				  	ng-click="resort(sort)"
				  	>
				    <input type="radio" name="sortRadios"/>{{"{{"}}sort.Label{{"}}"}}
				    <span ng-attr-class="{{"{{"}}sort.Decreasing && 'glyphicon glyphicon-circle-arrow-down' || 'glyphicon glyphicon-circle-arrow-up' {{"}}"}}"></span>
				  </label>
				  
				</div>
			</div>
		</div>

		<div id="cellars">
			<div class="row">
				<div class="col-lg-12">
					<div class="list-group">
						<a class="list-group-item" ng-repeat="cellar in cellars" ng-click="gotoCellar(cellar)">
							<span class="cellar-name">{{"{{"}}cellar.Name{{"}}"}}</span>
							<span class="remove-icon badge" style="display:none;" ng-click="deleteCellar(cellar); $event.stopPropagation();">
								<span class="glyphicon glyphicon-trash"></span>
							</span>
							<span class="badge">{{"{{"}}cellar.BeerCount{{"}}"}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a href="#delete-warning" id="delete-warning-link"></a>
	<div id="delete-warning" style="display:none;" class="text-center">
		<p>Are you sure you want to delete &quot;{{"{{"}}selectedCellar.Name{{"}}"}}&quot;?</p>
		<p>Any beers in this cellar will also be deleted.</p>
		<p>
			<button class="btn btn-default" ng-click="confirmDeleteCellar()">yes</button>
			<button class="btn btn-default" ng-click="cancelFancybox()">no</button>
		</p>
	</div>

</div>


<script>

$("#delete-warning-link").fancybox();

app.controller("MyCellarsController", function($scope, $filter){

	$scope.selectedCellar = null;

	$scope.cellars = [
		{{ range .Account.Cellars }}
			{
				ID : {{ .ID }},
				Name : "{{ .Name }}",
				BeerCount : {{ len .Beers }},
			},
		{{ end }}
	];

	$scope.sorts = [
		{
			Label: "name",
			Field: "Name",
			Decreasing: true,
			Active: true,
		},
		{
			Label: "# beers",
			Field: "BeerCount",
			Decreasing: true,
			Active: false,
		},
	];

	$scope.activeSort = $scope.sorts[0];
	$scope.cellars = $filter('orderBy')($scope.cellars, $scope.activeSort.Field, $scope.activeSort.Decreasing);

	$scope.resort = function(sort) {
		if($scope.activeSort === sort) {
			$scope.activeSort.Decreasing = !$scope.activeSort.Decreasing;
		}
		else {
			$scope.activeSort.Active = false;
			$scope.activeSort = sort;
			$scope.activeSort.Active = true;
		}
		$scope.cellars = $filter('orderBy')($scope.cellars, $scope.activeSort.Field, $scope.activeSort.Decreasing);
	};

	$scope.gotoCellar = function(cellar) {
		var username = getParameterByName("username");
		if(username && username !== "") {
			window.location = "/cellar?id="+cellar.ID+"&username="+username;
		}
		else {
			window.location = "/cellar?id="+cellar.ID;
		}
	};

{{ if .Editable }}

	$scope.toggleEdit = function() {
		if($('#edit-toggle').html() === "(edit)") {
			$('#edit-toggle').html("(disable edit)")
			$('.remove-icon').show();
		}
		else {
			$('#edit-toggle').html("(edit)")
			$('.remove-icon').hide();
		}
	};

	$scope.cancelFancybox = function() {
		$.fancybox.close();
	};

	$scope.deleteCellar = function(cellar) {
		$scope.selectedCellar = cellar;
		$("#delete-warning-link").click();
	};

	$scope.clearForm = function() {
		$scope.newCellarName = "";
	};

	$scope.confirmDeleteCellar = function() {
		$scope.cancelFancybox();
		$.post(
			"api/delete-cellar",
			{ 
				cellarID : $scope.selectedCellar.ID
			},
			function(data) {
				var obj = $.parseJSON(data);
				if(obj.Status == "SUCCESS") {
					var index = $scope.cellars.indexOf($scope.selectedCellar);
					$scope.cellars.splice(index, 1);
					$scope.$apply();
					showError("Cellar successfully deleted : &quot;" + obj.Data.Name + "&quot;", SUCCESS);
				}
				else {
					showError("Failed to delete cellar : (" + obj.Error + ")");
				}
			}
		);
	};

	$scope.addCellar = function() {
		$.post(
			"api/new-cellar",
			{
				cellarName : $scope.newCellarName,
			},
			function(data) {
				var obj = $.parseJSON(data);
				if(obj.Status == "SUCCESS") {
					$scope.cellars.push(obj.Data);
					$scope.clearForm();
					$scope.$apply();
					showError("Successfully added new cellar : &quot;" + obj.Data.Name + "&quot;", SUCCESS);
				}
				else {
					showError("Failed to add cellar (" + obj.Error + ")");
				}
			}
		);
	};
{{ end }}
	
});
</script>

{{template "bottom.html" .}}