{{template "top.html" .}}

<h1>Welcome {{ .Account.GetUsername }} to your cellars!</h1>

<h2>Add a new cellar</h2>


<div id="alert" class="alert" role="alert" {{ if eq .Error "" }} style="display:none;" {{ end }}>{{ .Error }}</div>

<form id="new-cellar-form" method="POST" action="mycellars">
	<div class="row">
		<div class="col-lg-4">
	    <div class="input-group">
	      <input type="text" id="newcellar" name="newcellar" class="form-control"/>
	      <span class="input-group-btn">
	        <button id="new-cellar-submit" class="btn btn-default" type="button">add!</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
</form>

<h2>Existing cellars</h2><a id="edit-toggle" href="#">(edit)</a>
<div id="cellars">
	<div class="row">
		<div class="col-lg-4">
			<div class="list-group">
				<a id="template-cellar-row" href="" class="list-group-item" style="display:none;">
					<span class="cellar-name"></span>
					<span class="remove-icon badge" style="display:none;"><span class="glyphicon glyphicon-trash"></span></span>
					<span class="badge">0</span>
				</a>
				{{ range .Account.Cellars }}
					<a id="Cellar{{ .ID }}" href="/cellar?id={{ .ID }}" class="list-group-item">
						<span class="cellar-name">{{ .Name }}</span>
						<span class="remove-icon badge" style="display:none;"><span class="glyphicon glyphicon-trash"></span></span>
						<span class="badge">{{ len .Beers }}</span>
					</a>
				{{ end }}
				</div>
			</div>
		</div>
	</div>

<a href="#delete-warning" id="delete-warning-link"></a>
<div id="delete-warning" style="display:none;" class="text-center">
	<p>Are you sure you want to delete &quot;<span id="cellar-name"></span>&quot;?</p>
	<p>Any beers in this cellar will also be deleted.</p>
	<p>
		<button id="delete-cellar" class="btn btn-default">yes</button>
		<button id="cancel" class="btn btn-default">no</button>
	</p>
</div>

<script>
	var cellarToDelete = "";

	$('#edit-toggle').click(function(e) {
		if($('#edit-toggle').html() === "(edit)") {
			$('#edit-toggle').html("(disable edit)")
			$('.remove-icon').show();
		}
		else {
			$('#edit-toggle').html("(edit)")
			$('.remove-icon').hide();
		}
		e.preventDefault();
	});

	$("#delete-warning-link").fancybox();
	$('.remove-icon').click(removeCellar);
	function removeCellar(e) {
		e.preventDefault();
		cellarToDelete = $(this).parent().find('.cellar-name').html();
		$('#cellar-name').html(cellarToDelete);
		$("#delete-warning-link").click();		
	}

	$('#delete-cellar').click(function() {
		$.fancybox.close();
		$.ajax({
			type : "POST",
			url : "api/delete-cellar",
			context : $(this),
			data : { cellarName : cellarToDelete },
			success : function(data) {
				var obj = $.parseJSON(data);

				console.log(obj);

				if(obj.Status == "SUCCESS") {
					$('#Cellar'+obj.Data.ID).remove();
					showError("Cellar successfully deleted : &quot;" + obj.Data.Name + "&quot;", SUCCESS);
				}
				else {
					showError("Failed to delete cellar : (" + obj.Error + ")");
				}
			}
		});
	});

	$('#cancel').click(function() {	
		$.fancybox.close();
	});

	$('#new-cellar-submit').click(function() {
		$.post(
			"api/new-cellar",
			{ cellarName : $('#newcellar').val() },
			function(data) {
				console.log(data);
				
				var obj = $.parseJSON(data);

				console.log(obj);

				if(obj.Status == "SUCCESS") {
					var cellar = $('#template-cellar-row').clone().css("display", "block");
					cellar.attr('id', "Cellar"+obj.Data.ID);
					cellar.find(".cellar-name").html(obj.Data.Name);
					cellar.attr("href", "/cellar?id=" + obj.Data.ID);
					cellar.find('.remove-icon').click(removeCellar);
					$('#cellars').find(".list-group").append(cellar);
					showError("Successfully added new cellar : &quot;" + obj.Data.Name + "&quot;", SUCCESS);
				}
				else {
					showError("Failed to add cellar (" + obj.Error + ")");
				}
			});
	});

</script>

{{template "bottom.html" .}}