<html ng-app="MyBrewCellar">
	<head>

		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    

    <script>
      var app = angular.module("MyBrewCellar", []);
    </script>

		<title>{{.Title}}</title>
	</head>
	<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">My Brew Cellar</a>
        </div>
 				<div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">home</a></li>
            <li><a href="/myaccount">my account</a></li>
            <li><a href="/mycellars">my cellars</a></li>
            {{ if.Logout }}
            <li><a href="{{ .Logout }}">logout</a></li>
            {{ end }}
          </ul>
      	</div>
    	</div>
		</div>
		<div class="container">